<div style="height: 80vh;">
    <mat-toolbar>
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <span>Oshop</span>
            <span class="menu-spacer"></span>
            <div fxShow="true" fxHide.lt-md>
                <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                <a routerLink="/" mat-button>Home</a>
                <a routerLink="/shopping-cart" mat-button>Shopping-cart
                    <span *ngIf="cart$ | async as cart " class="badge badge-warning badge-pill">{{cart.quantity}}</span>
                </a>

                <a *ngIf="userService.appUser && userService.appUser.isAdmin" routerLink="/admin/products"
                    mat-button>Manage Products</a>
                <a *ngIf="userService.appUser && userService.appUser.isAdmin" routerLink="/admin/orders"
                    mat-button>Manage Orders</a>

                <a *ngIf="!userService.appUser" routerLink="/login" mat-button>Login</a>

                <a (click)="logout()" *ngIf="userService.appUser" mat-button>logout</a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a href="/" mat-list-item>Home</a>
                <a (click)="sidenav.toggle()" routerLink="/shopping-cart" mat-list-item>Shopping-cart
                    <span *ngIf="cart$ | async as cart " class="badge badge-warning badge-pill">{{cart.quantity}}</span>
                </a>

                <a (click)="sidenav.toggle()" *ngIf="userService.appUser && userService.appUser.isAdmin"
                    routerLink="/admin/products" mat-list-item>Manage Products</a>
                <a (click)="sidenav.toggle()" *ngIf="userService.appUser && userService.appUser.isAdmin"
                    routerLink="/admin/orders" mat-list-item>Manage Orders</a>

                <a (click)="sidenav.toggle()" *ngIf="!userService.appUser" routerLink="/login" mat-list-item>Login</a>
                <a (click)="logout()" *ngIf="userService.appUser" mat-list-item>Logout</a>
                <a (click)="sidenav.toggle()" mat-list-item>Close</a>

            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<!--
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Oshop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/shopping-cart">Shopping Cart
            
                    <span *ngIf="cart$ | async as cart " class="badge badge-warning badge-pill">{{cart.quantity}}</span>

                </a>
            </li>
            <ng-template #anonymousUser>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
            </ng-template>
      
            <li *ngIf="userService.appUser ; else anonymousUser" ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">{{userService.appUser.name}}</a>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
                    <ng-container *ngIf="userService.appUser.isAdmin">
                            <a class="dropdown-item" routerLink="/admin/orders">Manage orders</a>
                            <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
                    </ng-container>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

-->